*.cxx_parameters
*.cxx_parameters
*.depends
*.dump
*.exe
CMakeLists.txt.user
icons.qrc.depends
/trunk/CMakeLists.txt.user.3.2-pre1
/trunk/doc/manual/num_guide.aux
/trunk/doc/manual/num_guide.bbl
/trunk/doc/manual/num_guide.blg
/trunk/doc/manual/num_guide.dvi
/trunk/doc/manual/num_guide.log
/trunk/doc/manual/num_guide.nlo
/trunk/doc/manual/num_guide.pdf
/trunk/doc/manual/num_guide.toc
/build
/trunk/build
/release


